@{
    Layout = "~/Views/Welcome/_LayoutWelcome.cshtml";
}


    <h1>Great! You’ve added your first utility services. Now add a bill.</h1>

@Html.ActionLink("Add New Bill", "Index", "Balance", null, new { @class = "btn btn-lg btn-block btn-primary" })