@model UtilityServiceAccount

@{
    ViewData["Title"] = "Add Utility Service Account";
}

<h2>Add New Service Account</h2>
<form asp-controller="UtilityServiceAccount" asp-action="Update">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccountNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <input asp-for="ConsumerId" type="hidden" class="form-control" />
                <input asp-for="Id" type="hidden" class="form-control" />
                <span asp-validation-for="Id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
